{% extends 'base.html' %}
{% block 'title' %}
<title>Email analysis result</title>
{% endblock %}
{% block 'content' %}
    <nav>
        <a class="navbar-option" href="{% url 'mainpage' %}">Main page</a>
        <a class="navbar-option" href="{% url 'searchpage' %}">Search</a>
        <span class="nav-right-con">
            {% if not request.user.is_authenticated %}
            <a class="navbar-option" href="{% url 'login_user' %}">Log in</a>
            <a class="navbar-option" href="{% url 'enter_email' %}">Register</a>
            {% else %}
            <a class="navbar-option" href="{% url 'logout_user' %}">Log out</a>
            <a class="navbar-option" href="{% url 'profile_user' request.user.username %}">History</a>
            {% endif %}
        </span>
    </nav>
    <div class="detail-content-box">
    <h1>Analysis result</h1>
    {% if status == 'UP' %}
    <div class="detail-char-box">
    <p>Status: pending...</p>
    <p>Upload time: {{ analisys_id }}</p>
    <p>Analisys id: {{ analisys_id }}</p>
    <p>Hash sha-256: {{ hash }}</p>
    <p>Risk score: <a style="color:grey">analyzing...</a></p>
    </div>
    {% elif status == 'FN' %}
    <p>Status: analysis finished</p>
    <p>Upload time: {{ analisys_id }}</p>
    <p>Analisys_id: {{ analisys_id }}</p>
    <p>Hash sha-256: {{ hash }}</p>  
    {% if risk_score == 0 %}
    <p>Risk score: <a style="color:green">{{ risk_score }} | safe</a></p>
    {% elif risk_score < 5 %}
    <p>Risk score: <a style="color:yellow">{{ risk_score }} | suspicious</a></p>
    {% else %}
    <p>Risk score: <a style="color:red">{{ risk_score }} | dangerous</a></p>
    {% endif %}
    {% endif %}
    <h2>Links in email:</h2>
        {% if urls %}
        {% for link in urls %}
            <div class="detail-link-box">
            <p>Hash sha-256: {{ link.hash_sha256 }}</p>
            {% if link.status != 'FN' %}
            <p>Risk score: <a style="color:grey">analyzing...</a></p>
            <div class="detail-decoration"></div>
            {% elif link.risk_score == 0 %}
            <div class="detail-decoration" style="background-color: green"></div>
            <p>Risk score: <a style="color:green">{{ link.risk_score }} | safe</a></p>
            {% elif link.risk_score < 5 %}
            <div class="detail-decoration" style="background-color: yellow"></div>
            <p>Risk score: <a style="color:yellow">{{ link.risk_score }} | suspicious</a></p>
            {% else %}
            <div class="detail-decoration" style="background-color: red"></div>
            <p>Risk score: <a style="color:red">{{ link.risk_score }} | dangerous</a></p>
            {% endif %}
            </div>
        {% endfor %}
        {% else %}
            <p class="detail-hint">There is no found links in this email.</p>
        {% endif %}
    <h2>Attachments in email:</h2>
        {% if attachments %}
        {% for attachment in attachments %}
        <div class="detail-link-box">
            <div class="detail-decoration"></div>
            <p>Hash sha-256: {{ attachment.hash_sha256 }}</p>
            {% if attachment.status != 'FN' %}
            <p>Risk score: <a style="color:grey">analyzing...</a></p>
            <div class="detail-decoration"></div>
            {% elif attachment.risk_score == 0 %}
            <div class="detail-decoration" style="color: green"></div>
            <p>Risk score: <a style="color:green">{{ attachment.risk_score }} | safe</a></p>
            {% elif attachment.risk_score < 5 %}
            <div class="detail-decoration" style="color: yellow"></div>
            <p>Risk score: <a style="color:yellow">{{ attachment.risk_score }} | suspicious</a></p>
            {% else %}
            <div class="detail-decoration" style="color: red"></div>
            <p>Risk score: <a style="color:red">{{ attachment.risk_score }} | dangerous</a></p>
            {% endif %}
            <br>
        </div>
        {% endfor %}
        {% else %}
        <p class="detail-hint">There is no found attachments in this email.</p>
        {% endif %}
    </div>
{% endblock %}