{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% block 'title' %}
<title>Email analysis result</title>
{% endblock %}
{% block 'content' %}
    <nav>
        <a class="navbar-option" href="{% url 'mainpage' %}">Main page</a>
        <a class="navbar-option" href="{% url 'searchpage' %}">Search</a>
        <span class="nav-right-con">
            {% if not request.user.is_authenticated %}
            <a class="navbar-option" href="{% url 'login_user' %}">Log in</a>
            <a class="navbar-option" href="{% url 'enter_email' %}">Register</a>
            {% else %}
            <a class="navbar-option" href="{% url 'logout_user' %}">Log out</a>
            <a class="navbar-option" href="{% url 'profile_user' request.user.username %}">History</a>
            {% endif %}
        </span>
    </nav>
    <div class="detail-content-box">
    <h1 class="detail-header">Analysis result</h1>
    {% if status == 'UP' %}
    <div class="detail-char-box">
    <p id="status-bar"><b>Status:</b> pending...</p>
    <p><b>Upload time:</b> {{ uploaded_at|time_since }}</p>
    <p><b>Analisys id:</b> <span id="analysis-id">{{ analisys_id }}</span><a id="copy-analysis-btn"><img class="copy-decorator" src="{% static 'images/copy.png' %}"></a></p>
    <p><b>Hash sha-256:</b> {{ hash }}</p>
    <p id="score-bar"><b>Risk score:</b> <a style="color:grey">analyzing...</a></p>
    </div>
    {% elif status == 'FN' %}
    <div class="detail-char-box">
    <p id="status-bar"><b>Status:</b> analysis finished</p>
    <p><b>Upload time:</b> {{ uploaded_at|time_since }}</p>
    <p><b>Analisys id:</b> <span id="analysis-id">{{ analisys_id }}</span><a id="copy-analysis-btn"><img class="copy-decorator" src="{% static 'images/copy.png' %}"></a></p>
    <p><b>Hash sha-256:</b> {{ hash }}</p>
    {% if risk_score == 0 %}
    <p id="score-bar"><b>Risk score:</b> <a style="color:green">{{ risk_score }} | safe</a></p>
    {% elif risk_score < 5 %}
    <p id="score-bar"><b>Risk score:</b> <a style="color:yellow">{{ risk_score }} | suspicious</a></p>
    {% else %}
    <p id="score-bar"><b>Risk score:</b> <a style="color:red">{{ risk_score }} | dangerous</a></p>
    {% endif %}</div>
    {% endif %}
    <h2 class="detail-header">Email information:</h2>
    <div class="detail-char-box">
        <p>
            From:
            <span class="spoiler-text">{{ from }}</span>
        </p>
        <p>
            To:
            <span class="spoiler-text">{{ to }}</span>
        </p>
        <p>
            Subject:
            <span class="spoiler-text">{{ subj }}</span>
        </p>
    </div>
    <h2 class="detail-header">Links in email:</h2>
        {% if urls %}
        {% for link in urls %}
            <a class="small-block-link-wrapper" href="https://www.virustotal.com/gui/url/{{ link.vt_url_id }}" target="_blank"><div class="detail-link-box">
            <p>Link id: {{ link.vt_url_id }}</p>
            {% if link.status != 'FN' %}
            <div class="block-type-link" link-id="{{ link.id }}"><p>Risk score: <span style="color:grey">analyzing...</span></p>
            <div class="detail-decoration"></div></div>
            {% elif link.risk_score == 0 %}
            <div class="block-type-link" link-id="{{ link.id }}"><div class="detail-decoration" style="background-color: green"></div>
            <p>Risk score: <span style="color:green">{{ link.risk_score }} | safe</span></p></div>
            {% elif link.risk_score < 5 %}
            <div class="block-type-link" link-id="{{ link.id }}">
            <div class="detail-decoration" style="background-color: yellow"></div>
            <p>Risk score: <span style="color:yellow">{{ link.risk_score }} | suspicious</span></p></div>
            {% else %}
            <div class="block-type-link" link-id="{{ link.id }}">
            <div class="detail-decoration" style="background-color: red"></div>
            <p>Risk score: <span style="color:red">{{ link.risk_score }} | dangerous</span></p></div>
            {% endif %}
            </div></a>
        {% endfor %}
        {% else %}
            <p class="detail-hint">There is no found links in this email.</p>
        {% endif %}
    <h2 class="detail-header">Attachments in email:</h2>
        {% if attachments %}
        {% for attachment in attachments %}
        <a class="small-block-link-wrapper" href="https://www.virustotal.com/gui/file/{{ attachment.hash_sha256 }}" target="_blank">
        <div class="detail-link-box">
            <!-- <div class="detail-decoration"></div> -->
            <p>Hash sha-256: {{ attachment.hash_sha256 }}</p>
            {% if attachment.status != 'FN' %}
            <div class="block-type-attachment" attachment-id="{{ attachment.id }}">
            <p>Risk score: <span style="color:grey">analyzing...</span></p>
            <div class="detail-decoration"></div></div>
            {% elif attachment.risk_score == 0 %}
            <div class="block-type-attachment" attachment-id="{{ attachment.id }}">
            <div class="detail-decoration" style="background-color:green"></div>
            <p>Risk score: <span style="color:green">{{ attachment.risk_score }} | safe</span></p></div>
            {% elif attachment.risk_score < 5 %}
            <div class="block-type-attachment" attachment-id="{{ attachment.id }}">
            <div class="detail-decoration" style="background-color:yellow"></div>
            <p>Risk score: <span style="color:yellow">{{ attachment.risk_score }} | suspicious</span></p></div>
            {% else %}
            <div class="block-type-attachment" attachment-id="{{ attachment.id }}">
            <div class="detail-decoration" style="background-color:red"></div>
            <p>Risk score: <span style="color:red">{{ attachment.risk_score }} | dangerous</span></p></div>
            {% endif %}
        </div></a>
        {% endfor %}
        {% else %}
        <p class="detail-hint">There is no found attachments in this email.</p>
        {% endif %}
    </div>
    <script>
        const EMAIL_ID = "{{ analisys_id }}";
    </script>
    <script src="{% static 'scripts/logic/poller.js' %}"></script>
    <script src="{% static 'scripts/utils/result_decorations.js' %}"></script>
{% endblock %}