{% extends 'base.html' %}
{% block 'title' %}
<title>Set new password</title>
{% endblock %}

{% block 'content' %}
<nav>
  <a class="navbar-option" href="{% url 'mainpage' %}">Main page</a>
  <span class="nav-right-con">
    <a class="navbar-option" href="{% url 'login_user' %}">Log in</a>
  </span>
</nav>

<span class="login-wrapper register-content">
  <div class="login-content">

    <h1 class="guide-title">Set new password</h1>

    <form class="register-form-up" method="post">
      <p class="register-hint">
        Please enter your new password below
      </p>

      {% csrf_token %}

      <div class="register-form" style="margin-bottom: 20px;">

        <div class="login-row">
          <label for="id_new_password1">New password:</label>
          {{ form.new_password1 }}
        </div>

        <div class="login-row">
          <label for="id_new_password2">Confirm password:</label>
          {{ form.new_password2 }}
        </div>

      </div>

      {% if messages %}
        {% for message in messages %}
          <div class="message {{ message.tags }}" style="margin-bottom: 5px;">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% if form.errors %}
        <div style="color:red;">
          {% for field in form %}
            {% for error in field.errors %}
              <p>{{ field.label }}: {{ error }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}

      <input class="login-submit" type="submit" value="Confirm">

    </form>

  </div>
</span>

{% endblock %}