{% extends 'base.html' %}
{% block 'title' %}
<title>Register your account</title>
{% endblock %}
{% block 'content' %}
<nav>
  <a class="navbar-option" href="{% url 'mainpage' %}">Main page</a>
  <span class="nav-right-con">
    <a class="navbar-option" href="{% url 'login_user' %}">Log in</a>
  </span>
</nav>
<span class="login-wrapper"><div class="login-content">
<h1 class="guide-title">Password reset</h1>
<h3>Email with recovery link has been sent. Be sure to check your inbox!</h3>
</div></span>
{% endblock %}